* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
}

.player {
  display: flex;
  position: absolute;
  z-index: 0;
  width: 50%;
  height: 50%;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
  background: black;
  transition: all 0.3s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.player__video {
  width: 100%;
}

.player:nth-child(1) {
  top: 0;
  left: 0;
}

.player:nth-child(2) {
  top: 0;
  left: 50%;
}

.player:nth-child(3) {
  top: 50%;
  left: 0;
}

.player:nth-child(4) {
  top: 50%;
  left: 50%;
}

.player_full_screen {
  top: 0 !important;
  left: 0 !important;
  z-index: 10;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  cursor: initial;
}

.controls {
  position: absolute;
  bottom: 0;
  height: 50px;
  z-index: 100;
  width: 100%;
  display: none;
}

.controls_visible {
  display: flex;
  align-items: center;
}

.controls__show-dashboard {
  width: 100px;
  height: 30px;
}
